#header *{
    padding-left: 10px;
    padding-right: 10px;
}

#search-form{
    display: inline-block;
    width: 60%;
}

#search-input{
    width: 80%;
}

#video-section{
    margin-top: 15px;
    margin-left: 15px;
    width: 70%;
}

#videInfo{
     /* text-align: center; */
     /* padding-left:30px; */
     padding-top: 5px;
}

#info{
    padding-left:30px;  
}

#channel-name{
    float: left;
    margin-top: -18px;
}

#subscribe-button{
    float: left;
}

#channel-info-sec2{
    display: inline-block;
}
