#header *{
    padding-left: 10px;
    padding-right: 10px;
    /* width: 100%; */
}

#NavigationBar{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    height: 50px;
    width: 100%;
}

#search-form{
    display: inline-block;
    width: 60%;
}

#search-input{
    width: 80%;
}

#video-section{
    margin-top: 15px;
    margin-left: 15px;
    width: 70%;
}

#videInfo{
     /* text-align: center; */
     /* padding-left:30px; */
     padding-top: 5px;
}

#info{
    padding-left:30px;  
}

#channel-name{
    float: left;
    margin-top: -18px;
}

#subscribe-button{
    float: left;
}

#Channel-Info{
    display: flex;
    align-items: baseline;
    flex-direction: row;
}

#channel-info-sec2{
    display: inline-block;
}

#channel-wrap{
    flex-grow: 2;
}

#views-div{
    flex-grow: 1;
}