html
{
    margin: 0px;
    padding: 0px;
}

body
{
    background-color: rgba(226, 226, 226, 0.911);
    margin: 0px;
}

section{
    /* background-color: white; */
}
header
{
    background-color: white;
}

#header *{
    padding-left: 10px;
    padding-right: 10px;
    /* width: 100%; */
}

#NavigationBar{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    height: 50px;
    width: 100%;
}

#search-form{
    display: inline-block;
    width: 60%;
}

#search-input{
    width: 80%;
}

#mainWrapper{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
}

#video-section{
    margin-top: 15px;
    margin-left: 15px;
    /* width: 70%; */
    flex-grow: 3;
}

#videInfo{
     /* text-align: center; */
     /* padding-left:30px; */
     padding-top: 5px;
}

#info{
    padding-left:30px;  
    background-color: white;
    margin-right: 15px;
    margin-top: 8px;
}

#channel-name{
    float: left;
    margin-top: -18px;
}

#subscribe-button{
    float: left;
}

#Channel-Info{
    display: flex;
    align-items: baseline;
    flex-direction: row;
    padding-bottom: 15px;
    margin-right: 20px;
    border-bottom: 1px solid rgba(138, 138, 138, 0.521);
}

#channel-info-sec2{
    display: inline-block;
}

#channel-wrap{
    flex-grow: 2;
}

#views-div{
    flex-grow: 1;
}

.recVideothumnail{
    height:94px;width:168px;
    font-size:100%;
    background-color: transparent; 
    position:relative;
    top:0px;
    border-width: 0px; 
    border-style: none; 
    margin: 0px; 
    padding: 0px; 
    border-color: white; 
}

#recommended-videos-section
{
    margin-top: 15px;
    flex-grow: 6;
    background-color: white;
    padding-right: 12px;
    padding-left: 12px;
}

#recVideoHdr
{   
    margin-top: 8px;
    margin-bottom: 14px;
}

#recVideoImgHdr
{
    float: right;
}

.recVideoInfo
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap
}


.recVideoInfo span
{
    display: block;
}

.recVideoInfoWrapper
{
    display: inline;
    margin-left: 10px;
}

.recommended-video{
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(145, 145, 145, 0.733);
}

.recVideoTitle
{
    max-width: 250px;
}

.btnText{
    font-size:100%;
    background-color: transparent; 
    vertical-align:middle;
    border-width: 0px; 
    border-style: none; 
    margin: 0px; 
    padding: 0px; 
    border-color: white; 
}

#videoActions{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 15px;
}

#vidActionsLeft{
    flex-grow: 3;
}

#vidActionRight{
    flex-grow: 1;
}

#btnAddImg{
    background-image:url('assets/img/btnAdd.png');
}
#btnShareImg{
    background-image:url('assets/img/btnShare.png');
}
#btnMoreImg{
    background-image:url('assets/img/btnMore.png');
}

#btnThumUpImg{
    background-image:url('assets/img/btnThumpUp.png');
}

#btnThumDownImg{
    background-image:url('assets/img/btnThumDown.png');
}


.btnImgClass{
    display:inline-block;
    vertical-align:middle;
    background-color: transparent; 
    width:20px;height:20px;
    margin-right:6px;
    background-position: -151px -725px; 
    background-repeat: no-repeat;
}

#videoDescriptionSection
{
    margin-top: 30px;
}

#videoDescription{
    max-width: 700px;
    margin: 0px;
    padding-bottom: 30px;
    border-bottom: 1px solid  rgba(138, 138, 138, 0.521);
}

#showMoreDescription
{
    margin-top:7px;
    font-size: 12px;
    text-align: center;
    color: gray;
    padding-bottom: 20px;
}

.actionBtnClass{
    border: none;
}